// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
.images_container img{
  border:2px solid #6A7176;
  margin:5px;
  cursor: pointer;
}