// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
.images_container img{
  border:2px solid #6A7176;
  margin:5px;
  cursor: pointer;
}
a.dd-selected{
  text-decoration: none;
}
.images_container{
  margin-top:50px
}
ul.dd-options{
  padding:none !important;
}
ul.dd-options li{
  float:left;
  width:75px;
  padding:2px !important;
}
a.dd-option{
  border:none !important;
  padding:none !important;
}
a.dd-option img{
  border:2px solid #DDD;
}
.dd-container{
  margin-bottom:20px;
}
.dd-option-text{
  line-height:65px;
  cursor:pointer;
}
img.preview{
  padding:0 5px;
}