%h2=@category.name
.item
  -@category.items.each do |item|
    %h3
      =item.name
      %span.artist_name
        by
        =link_to item.artist.get_name, artist_path(item.artist)
    %h4.info
      %span.buy_now=render :partial => 'categories/paypal_form', :locals => {:artist_email => item.artist.email, :item_name => item.name, :item_price => item.price}
      %span.price=number_to_currency(item.price)
    =render_blob item.description
    -item.images.each do |img|
      =link_to image_tag(img.asset.url(:thumb), :alt => img.title), image_path(img.asset.url), :class => 'img', :title => img.title