!!! XML
!!!
%html
  %head
    %title Walk The Line
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    =favicon_link_tag
  %body
    #wrapper
      #header
        %h1=link_to image_tag( 'walk-the-line.png'), root_path
        #photo_loop_click
      #artist_photo
        / <img src="<?php echo PHOTO_LOOP_DIR.$artist_pic['filename']?>" title="<?php echo $artist_pic['title'] ?>"/>
      #photo_loop
        -@photo_loop_images.each do |img|
          =link_to image_tag("photo_loop/#{img.filename}", :alt => 'Walk The Line Tattoo Co.'), image_path("fullsize/#{img.filename}"), :title => "img.title"
      #left_col
        #menu
          %ul#main
            =render :partial => 'layouts/artists_menu', :locals => { :artists => @artists }
            =render :partial => 'layouts/faq_menu'
        / <a href="#" class="header with_sub <?php if($page->is_artist) echo "active"?>">Artists</a>
        / <ul id="artists" class="sub_menu <?php if($page->is_artist) echo "active"?>">
        /   <?php foreach($page->get_artists() AS $artist): ?>
        /     <li><a href="<?php echo $artist['url'] ?>" class="sub_link"><?php echo $artist['display_name'] ?></a></li>
        /   <?php endforeach; ?>
        /             </ul>
        /           </li>
        /           <li>
        / <a href="#" class="header with_sub <?php if($page->is_store) echo "active"?>">Store</a>
        /             <ul id="store" class="sub_menu <?php if($page->is_store) echo "active"?>">
        /   <?php foreach($page->get_store_categories() AS $cat): ?>
        /     <li><a href="<?php echo $cat['url'] ?>" class="sub_link"><?php echo $cat['name'] ?></a></li>
        /   <?php endforeach; ?>
        /             </ul>
        /           </li>
        /           <li><a href="/faq" class="header <?php if($page->is_faq) echo "active"?>">FAQ</a></li>
        #contact
        #social
      #content
        #right_col
          =yield
      #footer_wrapper
        #footer
          %p
            %span.left="&#169;#{Time.now.year} Walk The Line Tattoo Co.".html_safe
            %span.right OutlandishLabs.com
          #floral_bottom
    