!!! XML
!!!
%html
  %head
    %title Walk The Line Tattoo Co. - Athens, GA
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    =favicon_link_tag
  %body
    #wrapper
      #header
        %h1=link_to image_tag( 'walk-the-line.png'), root_path
        #photo_loop_click
      #photo_loop
        -@photo_loop_images.each do |img|
          =link_to image_tag(img.asset.url(:photo_loop), :alt => 'Walk The Line Tattoo Co.'), image_path(img.asset.url), :title => img.title
      #left_col
        #menu
          %ul#main
            =render :partial => 'layouts/artists_menu', :locals => { :artists => @artists }
            =render :partial => 'layouts/news_menu', :locals => { :dates => @dates }
            =render :partial => 'layouts/categories_menu', :locals => { :categories => @categories }
            =render :partial => 'layouts/faq_menu'
        #contact=get_shop_info.html_safe
        =render :partial => 'layouts/social'
      #content
        #right_col
          =yield
      #footer_wrapper
        #footer
          %p
            %span.left="&#169;#{Time.now.year} Walk The Line Tattoo Co.".html_safe
            %span.right Designed and Built by OutlandishLabs
          #floral_bottom
    